@import "../variable.scss";

.layer-category {
    margin: 0  0 $margin_h * 2 0;
    text-align: center;
    padding: 2.5rem 0 1.5rem 0;
    div {
        margin: 0;
        padding: 0;
    }
    button svg {
        background: linear-gradient(-180deg, #F7923C, #F45511);
        color: #fff;
        padding: 0.5rem;
        border-radius: 1.5rem;
        font-size: 3rem;
    }
    p {
        font-size: 1.3rem;
        margin-top: 4px;
        color: $color_grey;
    }
}